body { background: #9cb8b3; }

h1 {
  font: 600 1.5em/1 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  position: absolute;
  top: 25%;
  width: 100%;
}

span, span:after {
  margin-left: 50%;
  font-weight: 900;
  color: #efedce;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
}

span {
  font-size: 4em;
  z-index: 100;
  text-shadow: .04em .04em 0 #9cb8b3;
}

span:after {
  content: attr(data-shadow-text);
  color: rgba(0,0,0,.35);
  text-shadow: none;
  position: absolute;
  left: .0875em;
  top: .0875em;
  z-index: -1;
  -webkit-mask-image: url(//f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}
