

.gauge_chart {
  padding: 20px;
  width: 350px;
  display: table-cell;
}

.line_chart {
  width: 100%;
  height: 400px;
}

.push_button {
  position: relative;
  width:220px;
  height:40px;
  text-align:center;
  color:#9cb8b3;
  text-decoration:none;
  line-height:43px;
  font-family:'Oswald', Helvetica;
  display: block;
  margin: 30px;
}
.push_button:before {
  background:#9cb8b3;
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#9cb8b3), to(#f0f0f0));

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

  position: absolute;
  content: "";
  left: -6px; right: -6px;
  top: -6px; bottom: -10px;
  z-index: -1;
}

.push_button:active {
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
  top:5px;
}
.push_button:active:before{
  top: -11px;
  bottom: -5px;
  content: "";
}

.blue {
  text-shadow:0px -1px 0 #824139;
  background: #efedce;
  background-image:-webkit-linear-gradient(top, #efedce, #efedce);
  background-image:-moz-linear-gradient(top, #efedce, #efedce);
  background-image:-ms-linear-gradient(top, #efedce, #efedce);
  background-image:-o-linear-gradient(top, #efedce, #efedce);
  background-image:linear-gradient(top, #efedce, #efedce);

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

}

.blue:hover {
  background: #efedce;
  background-image:-webkit-linear-gradient(top, #efedce, #efedce);
  background-image:-moz-linear-gradient(top, #efedce, #efedce);
  background-image:-ms-linear-gradient(top, #efedce, #efedce);
  background-image:-o-linear-gradient(top, #efedce, #efedce);
  background-image:linear-gradient(top, #efedce, #efedce);
}

.air-dates {
  font-size: 30px;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
}

.air-date-label {
  font-size: 30px;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
